[submodule "vim/pack/my-plugins/start/fzf"]
	path = vim/pack/my-plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/my-plugins/start/ack"]
	path = vim/pack/my-plugins/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/my-plugins/start/nerdtree"]
	path = vim/pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/my-plugins/start/vim-javascript"]
	path = vim/pack/my-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/my-plugins/start/vim-javascript-syntax"]
	path = vim/pack/my-plugins/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/pack/my-plugins/start/ctrlp"]
	path = vim/pack/my-plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/my-plugins/start/vim-airline"]
	path = vim/pack/my-plugins/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/pack/my-plugins/start/tmuxline.vim"]
	path = vim/pack/my-plugins/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/my-plugins/start/vim-airline-themes"]
	path = vim/pack/my-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/my-plugins/start/vim-tmux-navigator"]
	path = vim/pack/my-plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/my-plugins/start/vim-commentary"]
	path = vim/pack/my-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/my-plugins/start/vim-surround"]
	path = vim/pack/my-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/my-plugins/start/ale"] # Requires additional linters
	path = vim/pack/my-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/my-plugins/start/YouCompleteMe"] # Requires additional installation
	path = vim/pack/my-plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/pack/my-plugins/start/tern_for_vim"] # npm install in tern_for_vim
	path = vim/pack/my-plugins/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
