[submodule "vim/pack/my-plugins/start/fzf"]
	path = vim/pack/my-plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/my-plugins/start/ack"]
	path = vim/pack/my-plugins/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/my-plugins/start/nerdtree"]
	path = vim/pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/my-plugins/start/vim-javascript"]
	path = vim/pack/my-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/my-plugins/start/vim-javascript-syntax"]
	path = vim/pack/my-plugins/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
