snippet hmf
IO.inspect $1, label: "here mofo $1"
endsnippet

snippet doct
@doc """
## Examples
		iex> $0

"""
endsnippet

snippet iex "iex>"
iex> $0
endsnippet

snippet obj "Absinthe object" b
${1:@desc "$2"
}object :$3 do
	$0
end
endsnippet

snippet field "Absinthe field" b
field :$1, :$2
endsnippet

snippet arg "Absinthe arg" b
arg :$1, :$2
endsnippet

snippet nn "Absinthe non_null"
non_null(${1:${VISUAL}})$0
endsnippet
