snippet hmf
IO.puts "here mofo $1$2: #{${1:${VISUAL}}}"$0
endsnippet

snippet doct
@doc """
## Examples
		iex> $0

"""
endsnippet

snippet iex "iex>"
iex> $0
endsnippet

snippet obj "Absinthe object" b
${1:@desc "$2"
}object :$3 do
	$0
end
endsnippet

snippet field "Absinthe field" b
field :$1, :$2
endsnippet
