snippet log "console.log('');"
console.log('${VISUAL}$0');
endsnippet

snippet arw "ES6 arrow function"
const $1 = ($2) => {
	${VISUAL}$0
}$3
endsnippet

snippet imp "ES6 import"
import $1 from '$3${2:$1}';$0
endsnippet
