extends javascript

snippet styled "Emotion Styled Component" b
const $1 = styled.${2:${1/\w+/\l$0/}}\`
	$0
\`
endsnippet

snippet ies "import styled from '@emotion/styled';" b
import styled from '@emotion/styled';
endsnippet

snippet fc "Function Component" b
import React, { FC } from "react";

export interface $1Props {
	$2
}

const $1: FC<$1Props> = ($3) => {
	$0
};

export default $1;
endsnippet
