snippet im "Catalx @import src/assets/scss/mixins.scss" b
@import "src/assets/scss/mixins.scss";
endsnippet

snippet ifl "@include for-${size}-and-larger" b
@include for-$1-and-larger {
	$0
}
endsnippet
