extends javascript

snippet int "interface"
interface $1 {
	$0
}
endsnippet

snippet eint "export interface" b
export interface $1 {
	$0
}
endsnippet

snippet composable "vue composable" b
export interface `!p snip.rv = snip.basename[0].upper() + snip.basename[1:]` {
}

export function `!p snip.rv = snip.basename`(): `!p snip.rv = snip.basename[0].upper() + snip.basename[1:]` {
	$0
}
endsnippet
