snippet cbl "vimrc config block" b
" ============================================================================
" START $1
" ============================================================================
${0:${VISUAL}}
" ============================================================================
" END $1
" ============================================================================
endsnippet

snippet plug "Vim Plug" b
Plug '$1' ${2:" {{{
	$3
" }}}}
endsnippet
