snippet comp "Vue component"
<template>
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
	name: '$1',

	${2:props: {}}

	setup(props, ctx) {
		$0
	}
})
</script>
endsnippet
